<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:utext="${title}"></title>
        <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}"/>
    </head>
    <body>
        <h1 th:utext="${title}"></h1>
        <a th:href="@{/courses}">Course List(Selection)</a>
        <br/><br/>
        <a th:href="@{/usercourses}">UserCourses</a>
        <br/><br/>
        <a th:href="@{/logout}">LogOut</a>
        <br/><br/>
        <div>E-Learning Web application</div>
    </body>
</html>